{% extends 'base.html' %}
{% comment %}
  Final Project: ToDo App
  Group Member: Wenjie Wang, John Mwai, Alireza
  COM 214
  05/11/2021
{% endcomment %}

{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}

{% block content %}
  <div class="container">
    <div class="signup-box">
      <h2><i class="fas fa-user-plus"></i> Sign Up</h2>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-success btn-form" type="submit">Sign Up</button>
      </form>
      <div class="row">
        <div class="col-md-12">
          <span>Have account already?</span> 
          <a href="{% url 'login' %}"><u>Log In</u></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}