{% extends 'base.html' %}
{% comment %}
  Final Project: ToDo App
  Group Member: Wenjie Wang, John Mwai, Alireza
  COM 214
  05/11/2021
{% endcomment %}

{% block content %}
<div class="container text-center">
  <h2 style="margin-top: 1em; margin-bottom: 1em;">Category Details</h2>
</div>

<div class="container jumbotron shadow-lg p-3 mb-5 bg-body">
	<div style="margin: 1em;">
		<div style="border-bottom: 1px solid; width: fit-content; padding-bottom: 10px; margin-bottom:10px">
			<h2>
        {{ category.name }}
      </h2>
			<span class="text-muted">by: {{ category.author }}</span>
		</div>
	</div>
	{% if todos %}
		{% for task in todos %}
		<div class="border-light p-3 my-3 {% if task.priority %} important-task {% else %} bg-light {% endif %}">
			<div>
				<b>{{task.title | truncatewords:15 }}</b>
				<div class="float-right">
					<a href="{% url 'todo_edit' task.id %}" title="Edit" class="mr-3"><i class="fas fa-edit"></i></a>
					<a href="{% url 'todo_delete' task.id %}" title="Delete"
						class="text-danger mx-3"><i class="fas fa-times"></i></a>
				</div>
			</div>
			<div class="text-muted">
				<small class="mr-4">Created: {{ task.created_date }}</small>
				<small class="mr-4">Category: <a href="{% url 'category_detail' task.category.pk %}">{{ task.category }}</a></small>
				{% if task.completed %}
				<small class="mr-4 completeTask">Completed: {{ task.completed_date }}</small>
				{% else %}
				<small>Task not complete yet.</small>

				{% endif %}
				<small class="float-right"><a href="{% url 'todo_detail' task.id %}" title="Open Link">View Details<i class="fas fa-external-link-alt"></i></a></small>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<div class="text-center">
			<div class="display-5">You don't have any asscociate task with "{{ category.name }}"</div><br>
			<p class="display-5">After creating a task you can set it as an important task based on your preference. You can
				checked a task after finishing that. You can also delete the unnecessary todos.</p>
			<a class="btn btn-primary btn" href="{% url 'todo_create' %}">Create Task</a>
		</div>
		{% endif %}

	<div style="float: right;">
		<a href="{% url 'category_edit' category.pk %}" class="btn btn-success"><i class="fas fa-edit"></i></a>
		<a href="{% url 'category_delete' category.pk %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
	</div>
</div>
<div class="text-center">	
	<a href="{% url 'categories' %}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">View All Categories</a>
</div>
{% endblock %}