{% extends 'base.html' %}
{% comment %}
  Final Project: ToDo App
  Group Member: Wenjie Wang, John Mwai, Alireza
  COM 214
  05/11/2021
{% endcomment %}
{% block title %}Todo Delete{% endblock %}

{% block content %}
<div class="container text-center jumbotron shadow-lg p-3 mb-5 bg-body rounded center" style="width: fit-content;">
  <h1>Delete</h1>
  <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object.title }}"?</p>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-danger btn-form" type="submit">Confirm</button>
      </div>
      <div class="col-md-6">
        <a href="{% url 'todo_detail' object.id %}" class="btn btn-success btn-form">Cancel</a>
      </div>
    </div>
  </form>
</div>
{% endblock%}